<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sam.screenserver</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/samrussell/srpub/projects/ssaver/launch_server.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/samrussell/srpub/projects/ssaver/server_error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/samrussell/srpub/projects/ssaver/server_output.log</string>
</dict>
</plist>
